@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.ChakraProvider {
  font-family: 'Press Start 2P', cursive;
  margin: 0;
}

.joinRoomContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding-top: 65px;
  }

.joinRoomContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  }
  .joinRoomContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid #3E92CC;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  }
  
  .joinRoomContainer button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  border-color: 2px solid #FF6700;
  cursor: pointer;
}

.joinRoomContainer button:hover {
background: #FF6700;
}

.joinRoomContainer input:focus {
  outline-color: #FF6700;;
}

/* .main-join-room{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.red {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
}

.refresh-button {
  font-size: 20px;
  color: black;
  background-color: black;
} */

/* .saveButton {
  display: flex;
  flex-direction: row;
  border: black solid 1px;
} */
/* .joinRoomModal-container {
    height: 100%;
    width: 100%;
    backdrop-filter: blur(3px);
  
    display: grid;
    place-content: center;
  
    position: fixed;
  }
  
  .joinRoomModal-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
    background: var(--primary-color);
  }
  
  .joinRoomModal-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  
    padding: 1rem;
  }
  
  .joinRoomModal-card-title {
    color: var(--secondary-color);
    text-align: center;
  }
  
  .joinRoomModal-card-input {
    font-size: 2rem;
    border: 3px solid var(--secondary-color);
    background-color: var(--primary-color);
    outline: none;
    padding: 1rem;
    border-radius: 16px;
    color: var(--secondary-color);
  }
  
  .joinRoomModal-card-button {
    background-color: var(--secondary-color);
    border: 3px solid var(--primary-color);
    border-radius: 16px;
    font-size: 2rem;
    padding: 1rem;
    color: var(--primary-color);
  }
  
  .joinRoomModal-card-button:hover {
    cursor: pointer;
  } */