.cell {
  height: 70px;
  width: 75px;
  background: var(--primary-color);
  color: var(--secondary-color);
  padding-top: 5px;
  font-size: 5rem;
  display: grid;
  place-content: center;
  margin-right: 5px;
}

.cell:hover {
  cursor: pointer;
}

@media (max-width: 700px) {
  .cell {
    height: 100px;
    width: 100px;
  }
}