.svg {
    width: 75px;
    height: 75px;
  
    padding: 10px;
    border-radius: 50%;
    border: 3px solid var(--secondary-color);
  }
  
  .svg-path {
    fill: var(--secondary-color);
  }
  
  .svg:hover {
    cursor: pointer;
  }