.column {
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid black;
    justify-items: center;
    padding: 10px;
}

.cell {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 30px;
}