

main {
  display: grid;
  place-content: center;
}

.main-section {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(6, 1fr);
  background-color: var(--secondary-color);
  gap: 0.6rem;
  border: 1px black solid;
  background-color: blue;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 7px;
  padding-bottom: 10px;
}

.cell {
  background-color: white;
  border: 1px black solid;
  border-radius: 50%;
}