h1 {
  color: #ffff;
}

.header-title {
    text-align: center;
    color: #ffff;
    font-size: 50px;
  }

.home-button {
  position: absolute;
  left: 300px;
  margin-bottom: 50px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  border-color: 2px solid #FF6700;
  cursor: pointer;
}

.logo {
position: absolute;
top: 5vh;
left: 25vw;
}

.home-button:hover {
  background: #FF6700;
  }
  
